
Services/bin/Debug/System.Web.Mvc.xml
Services/bin/Debug/System.Web.Razor.dll
Services/bin/Debug/System.Web.Razor.xml
Services/bin/Debug/System.Web.WebPages.Deployment.dll
Services/bin/Debug/System.Web.WebPages.Deployment.xml
Services/bin/Debug/System.Web.WebPages.dll
Services/bin/Debug/System.Web.WebPages.Razor.dll
Services/bin/Debug/System.Web.WebPages.Razor.xml
Services/bin/Debug/System.Web.WebPages.xml
Services/bin/Debug/Unity.Abstractions.dll
Services/bin/Debug/Unity.Abstractions.pdb
Services/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Services/obj/Debug/Services.csproj.AssemblyReference.cache
Services/obj/Debug/Services.csproj.CopyComplete
Services/obj/Debug/Services.csproj.CoreCompileInputs.cache
Services/obj/Debug/Services.csproj.FileListAbsolute.txt
Services/obj/Debug/Services.dll
Services/obj/Debug/Services.pdb
